# Build and Release Folders
build/
libs/
library/

# Executables
*.swf
*.air
*.ipa
*.apk
*.pro
*.gradle
# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
